$primary-color: #fcb042;
$cadetblue: cadetblue;
$darkslategray: darkslategray;
$main-white: #fff;
$footer-bg-color: #303030;
$bg-image: url("../img/bg-image.jpeg");
$bg-color: #2b2b2b;
$font-family: sans-serif, "Raleway";
