$primary-color:  greenyellow;
$cadetblue:  cadetblue;
$darkslategray: darkslategray;
$main-white: #fff;
$footer-bg-color:  #303030;
$bg-image: url('../img/bg-image.jpeg'); 
$bg-color : #2B2B2B;
$font-family: sans-serif, "Raleway";;
